modules = ["nodejs-22"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
CLOUDFLARE_ACCOUNT_ID = "44d4456b745dd8beda2339160d9329fc"
CLOUDFLARE_ACCESS_KEY_ID = "b99ff022a9a73cce89beb3c1904eb0ce"
CLOUDFLARE_SECRET_ACCESS_KEY = "9cc39a878dff88adf6ebdebc64c2025b27060ebfd1f8fca6ca3a1d89108d4e1f"
CLOUDFLARE_BUCKET_NAME = "yands-appfiles"
VITE_CLOUDFLARE_ACCOUNT_ID = "44d4456b745dd8beda2339160d9329fc"
VITE_CLOUDFLARE_SECRET_ACCESS_KEY = "d74841c31f7dcac670fd61abfc1b4533ea4f69201b55c6af0e6a7d88382d4ab9"
VITE_CLOUDFLARE_BUCKET_NAME = "yands-appfiles"
VITE_CLOUDFLARE_ACCESS_KEY_ID = "3dab0d4f985af57c6d41052aa10c2c1b"
